
<% content_for :title do %>
<title>Bienvenido_al_Blog</title>
<% end %>



<div id="post">
<p>Bienvenido al Blog</p>

<p>Este espacio estará dedicado a comentar los distintos pensamientos que el equipo de Health.Me tiene respecto a como se desarrolla el tema de la salud, en Chile y en el exterior, porque los aspectos positivos y negativos a los que nos vemos expuestos tienen causas claras aun cuando no siempre sabidas o conocidas por todos.</p>

</div>

<div id="related">
  <h2>Post Anteriores</h2>
  <ul class="posts">
    
  </ul>
</div>
