<div class="container">
  <div class="row">
    <div class="span3 ">
        <div class="well well large">
        	<h3>Soporte</h3>
        	<p>Cuentanos en que te podemos servir, cualquier duda que tengas acerca del servicio por favor haznos saber</p>
           <%= render '/pages/form' %>
        </div>
     </div>
  </div>
</div>  

