<!DOCTYPE html>
<html>
<head>
  <div class="container">
  <div class="row">
    <div class="span6 offset2 ">
    	<div class="well well large">	
        
        	<h3>Soporte</h3>
        	<p>Cuentanos en que te podemos servir.</p>
           <%= render '/pages/form' %>
        
     </div>
  </div>
</div>  
</div>  
