<h1>Edición de los profesionales</h1>

<%= render 'form' %>

<%= link_to 'Back', professionals_path, class: "btn btn btn-default" %>

<%= link_to 'Show', @professional, class: "btn btn btn-default" %> 
