<section id="carousel" class="carousel">
 <!-- Main Area -->
                <div id="main_area">
                        <!-- Slider -->
                        <div class="row">
                                <div class="span12" id="slider">
                                        <!-- Top part of the slider -->
                                        <div class="row">
                                                <div class="span8" id="carousel-bounding-box">
                                                        <div id="myCarousel" class="carousel slide">
                                                                <!-- Carousel items -->
                                                                <div class="carousel-inner">
                                                                        <div class="active item" data-slide-number="0"><img src="http://img.photobucket.com/albums/v234/marfue179/t1largmassagethinkstock1_zpsa696ccb8.jpg" /></div>
                                                                        <div class="item" data-slide-number="1"><img src="http://img.photobucket.com/albums/v234/marfue179/Screenshot-10152013-111644AM22_zps38d55f49.png" /></div>
                                                                        <div class="item" data-slide-number="2"><img src="http://img.photobucket.com/albums/v234/marfue179/Screenshot-10152013-011233PM11_zps11a1c70f.png" /></div>
                                                                        
                                                                       
                                                                </div>
                                                                <!-- Carousel nav -->
                                                                <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
                                                                <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
                                                        </div>
                                                </div>
                                                <div class="span4" id="carousel-text"></div>
 
                                                <div style="display: none;" id="slide-content">
                                                        <div id="slide-content-0">
                                                                <h2></h2>
                                                                <h1>Find complementary and alternative business around you.</h1>
                                                                <p class="sub-text"><a href="#"></a></p>
                                                        </div>
                                                        <div id="slide-content-1">
                                                                <h2></h2>
                                                                <h1>El tratamiento que necesitas en la comuna que más te acomode.</h1>
                                                                <p class="sub-text"><a href="#"></a></p>
                                                        </div>
                                                        <div id="slide-content-2">
                                                                <h2></h2>
                                                                <h1>Elige al profesional perfecto para tus necesidades.</h1>
                                                                <p class="sub-text"><a href="#"</a></p>
                                                        </div>
                                                        
                                                        
                                                </div>
                                        </div>
 
                                </div>
                        </div> <!--/Slider-->
 
                        
</div>
<script>
  jQuery(document).ready(function($) {
 
        $('#myCarousel').carousel({
                interval: 5000
        });
 
        $('#carousel-text').html($('#slide-content-0').html());
 
        //Handles the carousel thumbnails
        $('[id^=carousel-selector-]').click( function(){
                var id_selector = $(this).attr("id");
                var id = id_selector.substr(id_selector.length -1);
                var id = parseInt(id);
                $('#myCarousel').carousel(id);
        });
 
 
        // When the carousel slides, auto update the text
        $('#myCarousel').on('slid', function (e) {
                var id = $('.item.active').data('slide-number');
                $('#carousel-text').html($('#slide-content-'+id).html());
        });
 
 
});
</script>
  </section>

<section id="features" class="features">
  <div class="container">
    <div class="row-fluid">
      <div class="span4">
        <div class="feature">
          <i class="icon-map-marker icon-2x pull-left"></i>
          <h4>Search in the map</h4>
          <p>Search in the map appointments for categories.</p>
        </div>
      </div><!-- /span4 -->

      <div class="span4">
        <div class="feature">
          <i class="icon-group icon-2x pull-left"></i>
          <h4>know the complementary medicine professionals</h4>
          <p>You can check the info and ratings of CAM professionals.</p>
        </div>
      </div><!-- /span4 -->
      
      <div class="span4">
        <div class="feature">
          <i class="icon-laptop icon-2x pull-left"></i>
          <h4>Free Appointments</h4>
          <p>You can now get the appointment from our platform.</p>
        </div>
      </div><!-- /span4 -->
    </div><!-- /row-fluid -->
  </div><!-- /container -->
</section>


<section id="joinbutton" class="joinbutton">
<div class="row-fluid">
  <div class="span4 offset4">
     
      
         <h2><%= link_to "Inscríbete Ahora", new_user_registration_path, class: "btn btn-large btn-block btn-info" %></h2>
        
      
     
   </div>
</div>
</section>

