



 <!-- Main Area -->
                <div id="main_area">
                        <!-- Slider -->
                        <div class="row">
                                <div class="span12" id="slider">
                                        <!-- Top part of the slider -->
                                        <div class="row">
                                                <div class="span8" id="carousel-bounding-box">
                                                        <div id="myCarousel" class="carousel slide">
                                                                <!-- Carousel items -->
                                                                <div class="carousel-inner">
                                                                        <div class="active item" data-slide-number="0"><img src="http://placehold.it/770x300&text=one" /></div>
                                                                        <div class="item" data-slide-number="1"><img src="http://placehold.it/770x300&text=two" /></div>
                                                                        <div class="item" data-slide-number="2"><img src="http://placehold.it/770x300&text=three" /></div>
                                                                        <div class="item" data-slide-number="3"><img src="http://placehold.it/770x300&text=four" /></div>
                                                                        <div class="item" data-slide-number="4"><img src="http://placehold.it/770x300&text=five" /></div>
                                                                        <div class="item" data-slide-number="5"><img src="http://placehold.it/770x300&text=six" /></div>
                                                                </div>
                                                                <!-- Carousel nav -->
                                                                <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
                                                                <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
                                                        </div>
                                                </div>
                                                <div class="span4" id="carousel-text"></div>
 
                                                <div style="display: none;" id="slide-content">
                                                        <div id="slide-content-0">
                                                                <h2>Slider One</h2>
                                                                <h1>Elige al dentista perfecto para ti.</h1>
                                                                <p class="sub-text"><a href="#">Read more</a></p>
                                                        </div>
                                                        <div id="slide-content-1">
                                                                <h2>Slider Two</h2>
                                                                <h1>El tratamiento que necesitas en la comuna que más te acomode.</h1>
                                                                <p class="sub-text">October 24 2012 - <a href="#">Read more</a></p>
                                                        </div>
                                                        <div id="slide-content-2">
                                                                <h2>Slider Three</h2>
                                                                <h1>Elige al profesional perfecto para tus necesidades.</h1>
                                                                <p class="sub-text">October 24 2012 - <a href="#">Read more</a></p>
                                                        </div>
                                                        <div id="slide-content-3">
                                                                <h2>Slider Four</h2>
                                                                <h1>Ingresa tus datos y horarios preferidos</h1>
                                                                <p class="sub-text">October 24 2012 - <a href="#">Read more</a></p>
                                                        </div>
                                                        <div id="slide-content-4">
                                                                <h2>Slider Five</h2>
                                                                <h1>Nuestros ejecutivos están esperando para agendar tu cita</h1>
                                                                <p class="sub-text">October 24 2012 - <a href="#">Read more</a></p>
                                                        </div>
                                                        <div id="slide-content-5">
                                                                <h2>Slider Six</h2>
                                                                <h1>Y comienza a ahorrar de inmediato.</h1>
                                                                <p class="sub-text">October 24 2012 - <a href="#">Read more</a></p>
                                                        </div>
                                                </div>
                                        </div>
 
                                </div>
                        </div> <!--/Slider-->
 
                        <div class="row hidden-phone" id="slider-thumbs">
                                <div class="span12">
                                        <!-- Bottom switcher of slider -->
                                        <ul class="thumbnails">
                                                <li class="span2">
                                                        <a class="thumbnail" id="carousel-selector-0">
                                                                <img src="http://placehold.it/170x100&text=one" />
                                                        </a>
                                                </li>
                                                <li class="span2">
                                                        <a class="thumbnail" id="carousel-selector-1">
                                                                <img src="http://placehold.it/170x100&text=two" />
                                                        </a>
                                                </li>
                                                <li class="span2">
                                                        <a class="thumbnail" id="carousel-selector-2">
                                                                <img src="http://placehold.it/170x100&text=three" />
                                                        </a>
                                                </li>
                                                <li class="span2">
                                                        <a class="thumbnail" id="carousel-selector-3">
                                                                <img src="http://placehold.it/170x100&text=four" />
                                                        </a>
                                                </li>
                                                <li class="span2">
                                                        <a class="thumbnail" id="carousel-selector-4">
                                                                <img src="http://placehold.it/170x100&text=five" />
                                                        </a>
                                                </li>
                                                <li class="span2">
                                                        <a class="thumbnail" id="carousel-selector-5">
                                                                <img src="http://placehold.it/170x100&text=six" />
                                                        </a>
                                                </li>
                                        </ul>
                                </div>
                        </div>
</div>
<script>
  jQuery(document).ready(function($) {
 
        $('#myCarousel').carousel({
                interval: 5000
        });
 
        $('#carousel-text').html($('#slide-content-0').html());
 
        //Handles the carousel thumbnails
        $('[id^=carousel-selector-]').click( function(){
                var id_selector = $(this).attr("id");
                var id = id_selector.substr(id_selector.length -1);
                var id = parseInt(id);
                $('#myCarousel').carousel(id);
        });
 
 
        // When the carousel slides, auto update the text
        $('#myCarousel').on('slid', function (e) {
                var id = $('.item.active').data('slide-number');
                $('#carousel-text').html($('#slide-content-'+id).html());
        });
 
 
});
</script>
  
 <!DOCTYPE html>  
<html lang="en">  
  <head>  
    <meta charset="utf-8">  
    <title>Example of using default thumbnails from w3resource.com</title>  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <meta name="description" content="Example of using default thumbnails from w3resource.com">  
    <meta name="author" content="">  
  
    <!-- Le styles -->  
    <link href="twitter-bootstrap-v2/docs/assets/css/bootstrap.css" rel="stylesheet">  
    <link href="twitter-bootstrap-v2/docs/assets/css/example-fixed-layout.css" rel="stylesheet">  
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->  
    <!--[if lt IE 9]>  
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>  
    <![endif]-->  
  
    <!-- Le fav and touch icons -->  
    <link rel="shortcut icon" href="twitter-bootstrap-v2/docs/examples/images/favicon.ico">  
    <link rel="apple-touch-icon" href="twitter-bootstrap-v2/docs/examples/images/apple-touch-icon.png">  
    <link rel="apple-touch-icon" sizes="72x72" href="twitter-bootstrap-v2/docs/examples/images/apple-touch-icon-72x72.png">  
    <link rel="apple-touch-icon" sizes="114x114" href="twitter-bootstrap-v2/docs/examples/images/apple-touch-icon-114x114.png">  
  </head>  
  
  <body>  
    <div class="container">  
      <ul class="thumbnails">  
        <li class="span4">  
          <a href="" class="thumbnail">  
            <img src="http://img.photobucket.com/albums/v234/marfue179/Interior-Centro-Meacutedico-Esteacutetico-Derm-Neo-Beige-Design-10_zps40f1e692.jpg" alt="php tutorial" width="260" height="140" /> <p>ELIGE</p> 
          </a>  
        </li>  
        <li class="span4">  
           <a href="http://www.w3resource.com/sql/tutorials.php" class="thumbnail">  
             <img src="http://img.photobucket.com/albums/v234/marfue179/152088src_zps81ee17fe.jpg" alt="mysql tutorial" width="260" height="140" />  
           </a>  
        </li>  
        <li class="span4">  
           <a href="http://www.w3resource.com/javascript/javascript.php" class="thumbnail">  
              <img src="http://img.photobucket.com/albums/v234/marfue179/spa-2-520_zps331f1522.jpg" alt="js tutorial" width="260" height="140" >  
           </a>  
        </li>  
      </ul>  
     <hr>  
    </div> <!-- /container -->  
  </body>  
</html>  

<% if user_signed_in? %>
    <p>Bienvenido <%= current_user.email %></p>
    <p><%= link_to "cerrar sesión", destroy_user_session_path, method: delete %></p>
<%else%>
    <p><%= link_to "Crear una cuenta", new_user_registration_path, class: "btn btn-large btn-info" %></p>
    <p>Si ya tienes cuenta: <%= link_to "Ingresa a tu cuenta", new_user_session_path, class: "btn btn-large btn-info" %></p>
<%end%>

