<section id="carousel" class="carousel">
 <!-- Main Area -->
                <div id="main_area">
                        <!-- Slider -->
                        <div class="row">
                                <div class="span12" id="slider">
                                        <!-- Top part of the slider -->
                                        <div class="row">
                                                <div class="span8" id="carousel-bounding-box">
                                                        <div id="myCarousel" class="carousel slide">
                                                                <!-- Carousel items -->
                                                                <div class="carousel-inner">
                                                                        <div class="active item" data-slide-number="0"><img src="http://placehold.it/770x300&text=one" /></div>
                                                                        <div class="item" data-slide-number="1"><img src="http://placehold.it/770x300&text=two" /></div>
                                                                        <div class="item" data-slide-number="2"><img src="http://placehold.it/770x300&text=three" /></div>
                                                                        <div class="item" data-slide-number="3"><img src="http://placehold.it/770x300&text=four" /></div>
                                                                        <div class="item" data-slide-number="4"><img src="http://placehold.it/770x300&text=five" /></div>
                                                                        <div class="item" data-slide-number="5"><img src="http://placehold.it/770x300&text=six" /></div>
                                                                </div>
                                                                <!-- Carousel nav -->
                                                                <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
                                                                <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
                                                        </div>
                                                </div>
                                                <div class="span4" id="carousel-text"></div>
 
                                                <div style="display: none;" id="slide-content">
                                                        <div id="slide-content-0">
                                                                <h2></h2>
                                                                <h1>Elige al dentista perfecto para ti.</h1>
                                                                <p class="sub-text"><a href="#"></a></p>
                                                        </div>
                                                        <div id="slide-content-1">
                                                                <h2></h2>
                                                                <h1>El tratamiento que necesitas en la comuna que más te acomode.</h1>
                                                                <p class="sub-text"><a href="#"></a></p>
                                                        </div>
                                                        <div id="slide-content-2">
                                                                <h2></h2>
                                                                <h1>Elige al profesional perfecto para tus necesidades.</h1>
                                                                <p class="sub-text"><a href="#"</a></p>
                                                        </div>
                                                        <div id="slide-content-3">
                                                                <h2></h2>
                                                                <h1>Ingresa tus datos y horarios preferidos</h1>
                                                                <p class="sub-text"><a href="#"></a></p>
                                                        </div>
                                                        <div id="slide-content-4">
                                                                <h2></h2>
                                                                <h1>Nuestros ejecutivos están esperando para agendar tu cita</h1>
                                                                <p class="sub-text"><a href="#"></a></p>
                                                        </div>
                                                        <div id="slide-content-5">
                                                                <h2></h2>
                                                                <h1>Y comienza a ahorrar de inmediato.</h1>
                                                                <p class="sub-text"><a href="#"></a></p>
                                                        </div>
                                                </div>
                                        </div>
 
                                </div>
                        </div> <!--/Slider-->
 
                        
</div>
<script>
  jQuery(document).ready(function($) {
 
        $('#myCarousel').carousel({
                interval: 5000
        });
 
        $('#carousel-text').html($('#slide-content-0').html());
 
        //Handles the carousel thumbnails
        $('[id^=carousel-selector-]').click( function(){
                var id_selector = $(this).attr("id");
                var id = id_selector.substr(id_selector.length -1);
                var id = parseInt(id);
                $('#myCarousel').carousel(id);
        });
 
 
        // When the carousel slides, auto update the text
        $('#myCarousel').on('slid', function (e) {
                var id = $('.item.active').data('slide-number');
                $('#carousel-text').html($('#slide-content-'+id).html());
        });
 
 
});
</script>
  </section>

<section id="features" class="features">
  <div class="container">
    <div class="row-fluid">

      

      <div class="span4">
        <div class="feature">
          <i class="icon-map-marker icon-2x pull-left"></i>
          <h4>Observa en el mapa</h4>
          <p>Al observar y ubicarte en el mapa, tendrás una visualizacion de los profesionales más cercanos a tu ubicación.</p>
        </div>
      </div><!-- /span3 -->

      <div class="span4">
        <div class="feture">
          <i class="icon-group icon-2x pull-left"></i>
          <h4>Datos sobre los dentistas</h4>
          <p>Luego de visualizar el area en la que buscas el profesional, podras chequear sus datos e informacion reelevante.</p>
        </div>
      </div><!-- /span3 -->
      
      <div class="span4">
        <div class="feature">
          <i class="icon-laptop icon-2x pull-left"></i>
          <h4>Agendar</h4>
          <p>Finalmente podras agendar con el profesional más adecuado a tus necesidades, a un precio que solo Health.Me puede entregarte.</p>
        </div>
      </div><!-- /span3 -->
    </div><!-- /row-fluid -->
  </div><!-- /container -->
</section>






<section id="joinbutton" class="joinbutton">
<div class="row-fluid">
  <div class="span4 offset4">
     
       <% if user_signed_in? %>
         <p>Bienvenido <%= current_user.email %></p>
         <p><%= link_to "cerrar sesión", destroy_user_session_path, method: delete %></p>
       <%else%>
         <p><%= link_to "Crear una cuenta", new_user_registration_path, class: "btn btn-large btn-block btn-info" %></p>
         <h2>Si ya tienes cuenta</h2> <%= link_to "Ingresa a tu cuenta", new_user_session_path, class: "btn btn-large btn-block btn-info" %>
       <%end%>
     
   </div>
</div>
</section>

