<div class="intro-header">

      <div class="container">
  
        <div class="row-fluid">
          <div class="span12">
            <div class="transbox">
              <div class="intro-message">
                <h1>Health.Me</h1>
                <h3>Encuentra a tu medico ahora</h3>
              
              
                <%= link_to 'INSCRIBETE', new_user_registration_path, class: "btn btn-large btn-primary" %>
                
              </div> 
            </div>        
          </div>
        </div>
  
      </div><!-- /.container -->

    </div><!-- /.intro-header -->


 <div class="section">

      <div class="container">

        <div class="row">
          <div class="span4 text-center">
            <h4><i class="icon-check"></i> ENCUENTRA UN DOCTOR</h4>
            
          </div>
          <div class="span4 text-center">
            <h4><i class="icon-check"></i> ASOMBRATE CON NUESTROS PRECIOS </h4>
            
          </div>
          <div class="span4 text-center">
            <h4><i class="icon-check"></i> HAZ LA CITA EN LINEA</h4>
           
          </div>
        </div><!-- /.row -->

      </div><!-- /.container -->

    </div><!-- /.section -->



    <div class="section-colored text-center">

      <div class="container">

        <div class="row">
          <div class="section-colored span12">
            <h2>Un grupo de medicos de excelencia</h2>
            <p>Conoce a nuestros medicos, te sorprenderán</p>
            
          </div>
        </div><!-- /.row -->

      </div><!-- /.container -->

    </div><!-- /.section-colored -->


    


    
    <!-- /Intro -->
  
    <!-- Services -->
    <div id="services" class="services">
      <div class="container">
        <div class="row">
          <div class="span4 offset4 text-center">
            <h2>Los beneficios de Health.Me</h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="span4  text-center">
            <div class="service-item">
              <i class="service-icon icon-star"></i>
              <h3>Medicos de calidad</h3>
              <p>Los medicos que se presentan el Health.Me han sido elejidos bajo estricto rigor, basado en experiencia, precio y reseñas.</p>
            </div>
          </div>
          <div class="span4 text-center">
            <div class="service-item">
              <i class="service-icon icon-money"></i>
              <h3>Pagarás menos dinero</h3>
              <p>Obten buenos precios por diversos y esperimentados medicos.</p>
            </div>
          </div>
          <div class="span4 text-center">
            <div class="service-item">
              <i class="service-icon icon-cogs"></i>
              <h3>Sin complicaciones</h3>
              <p>Lo hacemos rapido y facil para que puedas encontrar y agendar la ayuda medica.</p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <!-- /Services -->

    <!-- Callout -->
    <div class="callout">
      <div class="vert-text">
        <h2></h2>
      </div>
    </div>
    <!-- /Callout -->

 <!-- Call to Action -->
    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="span6 offset3 text-center">
            <h3>Comienza ya e inscríbete para encontrar a un medico confiable cerca tuyo.</h3>
            <br>
            <%= link_to 'INSCRIBETE', new_user_registration_path, class: "btn btn-large btn-primary" %> 
            <%= link_to "BUSCA MEDICOS", "/professionals", class: "btn btn-large btn-primary" %>         
          </div>
        </div>
      </div>
    </div>
    <!-- /Call to Action -->
     

      
