
<div class="about">
  <div class="row">
    <div class="span8 offset2">
       <div class="well well large">

<h2>¿Quienes Somos?</h2>

<br/> 

<p>Health.Me es la alternativa más simple y conveniente para acceder a la salud de calidad. Ofrecemos transparencia de precios y coberturas en nuestros tratamiento dentales. Comenzando en Santiago, y siguiendo por el resto del país, nuestro servicio en línea permite a nuestros pacientes administrar sus gastos en salud, entregando un rápido y dinámico acceso a nuestras tarifas preferenciales.</p>

<br/> 
 

<p>Todos los profesionales asociados a Health.Me, pasan por un riguroso proceso de selección, siendo elegidos por su formación académica y profesional, y nivel de equipamiento de sus clínicas, entre otros factores.</p>

<br/> 


<p>Las tarifas son prenegociadas con nuestra red de profesionales, permitiendo otorgar los mejores precios a nuestros clientes.</p>


<br/> 

<p>Finalmente, puedes agendar tu hora en línea con tu profesional de la salud seleccionado y pagar directamente al momento de la atención.</p>

<br/> 

<p>“Nos comprometemos a entregarte todos los pormenores de tu salud.”</p>

<br/> 

<p>Fundado por el Ingeniero Comercial Marcelo Fuentes, y un equipo multidiciplinario que se compromete a seguir trabajando por una mejor salud a nivel latinoamericano.</p>
      </div>
    </div>
  </div>
</div>