
<div class="about">
  <div class="row">
    <div class="span8 offset2">
       <div class="well well large">

<h2>¿Quienes Somos?</h2>

<br/> 

<h3>Health.Me es la alternativa más simple y conveniente para acceder a atención dental de calidad. Ofrecemos transparencia de precios y coberturas en nuestros tratamiento dentales. Comenzando en Santiago, y siguiendo por el resto del país, nuestro servicio en línea permite a nuestros pacientes administrar sus gastos en salud dental, entregando un rápido y dinámico acceso a nuestras tarifas preferenciales, en nuestra exclusiva red de dentistas.</h3>

<br/> 
 

<h3>Todos los dentistas asociados a Health.Me, pasan por un riguroso proceso de selección, siendo elegidos por su formación académica y profesional, y nivel de equipamiento de sus clínicas, entre otros factores.</h3>

<br/> 


<h3>Las tarifas son prenegociadas con nuestra red de dentistas, permitiendo otorgar los mejores precios a nuestros clientes.</h3>

<br/> 

<h3>Las coberturas contienen una detallada descripción de los tratamientos dentales, videos explicativos sobre los mismos, valores e información sobre nuestros odontólogos.</h3>

<br/> 

<h3>Finalmente, puedes agendar tu hora en línea con tu dentista seleccionado y pagar directamente al momento de la atención.</h3>

<br/> 

<h3>“Estamos comprometidos en hacer la atención dental accesible para todos.”</h3>

<br/> 

<h3>Fundado por el Ingeniero Comercial Marcelo Fuentes, y un equipo multidiciplinario que se compromete a seguir trabajando por una mejor salud a nivel latinoamericano.</h3>
      </div>
    </div>
  </div>
</div>