
<% content_for :title do %>About<% end %>
<div class="container">
  <div class="row">
    <div class="span8 offset2">
       <div class="well well large">

<h2>¿Quienes Somos?</h2>


<p>Health.Me es la alternativa más simple y conveniente para acceder a atención dental de calidad. Ofrecemos transparencia de precios y coberturas en nuestros tratamiento dentales. Comenzando en Santiago, y siguiendo por el resto del país, nuestro servicio en línea permite a nuestros pacientes administrar sus gastos en salud dental, entregando un rápido y dinámico acceso a nuestras tarifas preferenciales, en nuestra exclusiva red de dentistas.</p>

<p>Todos los dentistas asociados a Health.Me, pasan por un riguroso proceso de selección, siendo elegidos por su formación académica y profesional, y nivel de equipamiento de sus clínicas, entre otros factores.</p>

<p>Las tarifas son prenegociadas con nuestra red de dentistas, permitiendo otorgar los mejores precios a nuestros clientes.</p>

<p>Las coberturas contienen una detallada descripción de los tratamientos dentales, videos explicativos sobre los mismos, valores e información sobre nuestros odontólogos.</p>

<p>Finalmente, puedes agendar tu hora en línea con tu dentista seleccionado y pagar directamente al momento de la atención.</p>


<p>“Estamos comprometidos en hacer la atención dental accesible para todos.”</p>

<p>Fundado por el Ingeniero Comercial Marcelo Fuentes, y un equipo multidiciplinario que se compromete a seguir trabajando por una mejor salud a nivel latinoamericano.</p>
      </div>
    </div>
  </div>
</div>