
<div class="about">
  <div class="row">
    <div class="span8 offset2">
       <div class="well well large">

<h2>Como Funciona</h2>

<br/> 

<h3>Health.Me te permite buscar geograficamente por el profesional más cercano a ti, de esa forma facilitando el encuentro y permitir rapidamente la atención buscada.</h3>

<br/> 

<h3>Al encontrar al profesional más cercano, encontraras informacion reelevante, que te permitirá elegir y sentir tranquilidad en tu elección.</h3>

<br/> 

<h3>Gracias a nuestro sistema de agendamiento, podrás acordar una hora con el profesional que elegiste, disfrutando de los precios convenientes que health.Me a puesto a tu disposición </h3>

      </div>
    </div>
  </div>
</div>