

<div class="about">
  <div class="row">
    <div class="span6 offset3">
       <div class="well well large">

<h2>Como Funciona</h2>


<p>Health.Me te permite buscar geograficamente por el profesional más cercano a ti, de esa forma facilitando el encuentro y permitir rapidamente la atención buscada.</p>

<p>Al encontrar al profesional más cercano, encontraras informacion reelevante, que te permitirá elegir y sentir tranquilidad en tu elección.</p>

<p>Gracias a nuestro sistema de agendamiento, podrás acordar una hora con el profesional que elegiste, disfrutando de los precios convenientes que health.Me a puesto a tu disposición </p>

      </div>
    </div>
  </div>
</div>