<footer class="footer">
<div class="row-fluid">
        <div class="span12">
          <div class="span2" style="width: 20%;">
            <ul class="unstyled">
              <li>Tratamientos<li>
              <li><a href="/pages/about">Protesis total</a></li>
              <li><a href="#">Sellante dental</a></li>
              <li><a href="#">Plano de relajación</a></li>
              <li><a href="#">Primera visita niños</a></li>
              <li><a href="#">Limpieza</a></li>
            </ul>
          </div>
          <div class="span2" style="width: 20%;">
            <ul class="unstyled">
              <li>Applications<li>
              <li><a href="#">Product for Mac</a></li>
              <li><a href="#">Product for Windows</a></li>
              <li><a href="#">Product for Eclipse</a></li>
              <li><a href="#">Product mobile apps</a></li>              
            </ul>
          </div>
          <div class="span2" style="width: 20%;">
            <ul class="unstyled">
              <li>Services<li>
              <li><a href="#">Web analytics</a></li>
              <li><a href="#">Presentations</a></li>
              <li><a href="#">Code snippets</a></li>
              <li><a href="#">Job board</a></li>              
            </ul>
          </div>
          <div class="span2" style="width: 20%;">
            <ul class="unstyled">
              <li>Documentation<li>
              <li><a href="#">Product Help</a></li>
              <li><a href="#">Developer API</a></li>
              <li><a href="#">Product Markdown</a></li>
              <li><a href="#">Product Pages</a></li>              
            </ul>
          </div>  
          
        </div>
      </div>
      <hr>
      <div class="row-fluid">
        <div class="span12">
          <div class="span8">
            <a href="#">Terminos del Servicio</a>    
            <a href="#">Privacidad</a>    
            <a href="#">Seguridad</a>
          </div>
          <div class="span4">
            <p class="muted pull-right">© 2013 Health.Me SPA. Todos los derechos reservados</p>
          </div>
        </div>
      </div>
  </div>